body{text-align:center;
    background:#8856a7;
    color:white;
}
h1, h2, h3
{
    text-align:center;
    color:white;
}

/*div.menu{background-color:#D2C3F0;float:left; width:50em;}
div.content{margin-left:2px}
div.contain{margin-left:200px; margin-right:100px; margin-top:-100px;}*/