#menu ul{ margin:auto; 
width:600px; 
padding:5px;
list-style-type:none; 
text-align:center;  
z-index:1000;
padding-top:0px; 
margin-left:auto;
margin-right:auto;
font-family:"Georgia";
}

#menu ul li{ display:block; text-align:center; float:left; z-index:1000; background-color:#f1f1d4;}

#menu ul li a{ text-decoration:none; padding:.005em 1em;  color:#000000; text-align:center; display:block; z-index:1000; border: 1px solid #fff; border-bottom: 0px solid; background-color:#f1f1d4;}

#menu ul li a:hover{ color:#000000; background-color:#f1f1d4; z-index:1000; text-align:center; }

#menu li ul{ display:none; margin-left:0px; padding:0px; position:relative; z-index:1000;  border: 1px solid #fff; width:105px; }

#menu li:hover ul{ margin:0 auto; display:block; position:absolute; z-index:1000;}

#menu li:hover li{ float:none; z-index:1000;}

#menu ul ul li a { padding:.0005em 1.21em; border: 1px solid #fff; z-index:1000;}

